<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:context = "http://www.springframework.org/schema/context"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans     
   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
   http://www.springframework.org/schema/context 
   http://www.springframework.org/schema/context/spring-context-4.0.xsd">
  <!-- Dependent class -->
  <bean id ="courier" class="com.nt.component.Dtdc"></bean>
  <bean id="blue" class="com.nt.component.BlueDart" primary=" true"></bean>
  <bean id="fedex" class="com.nt.component.FedEx"></bean>
  <bean id="ekrt" class="com.nt.component.Ekart"></bean>
  
  <!-- Target classes changing with the dependencyServices -->
  <bean id ="Fpkt" class="com.nt.component.Flipkart">
  </bean>
  <context:annotation-config></context:annotation-config>
  
</beans>
